<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="/static/css/test.css">

    <title>Movi-Hub</title>
</head>

<body ondragstart="return false;" ondrop="return false" oncopy="return false" oncut="return false">

    {{> navbar}}

    <section class="sorting-style">
        <span id="table-view" class="material-symbols-outlined icon-size">apps</span>
        <span id="list-view" class="material-symbols-outlined icon-size">menu</span>
    </section>

    {{> body}}

    <nav aria-label="Pagination" class="flex items-center w-fit m-auto mt-10 text-gray-600">
        <a href="{{@root.paginationData.prelink}}?pageno={{paginationData.previous}}"
            class="p-2 mr-4 rounded hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </a>

        {{#each paginationData.range}}

        {{#ifCond this '==' @root.paginationData.current }}

        <a href="{{@root.paginationData.prelink}}?pageno={{this}}"
            class="px-4 py-2 rounded hover:bg-gray-100 bg-gray-200 text-gray-900 font-medium">{{this}}</a>

        {{/ifCond}}

        {{#ifCond this '!=' @root.paginationData.current }}

        <a href="{{@root.paginationData.prelink}}?pageno={{this}}" class="px-4 py-2 rounded hover:bg-gray-100">
            {{this}}</a>

        {{/ifCond}}

        {{/each}}

        <a href="{{@root.paginationData.prelink}}?pageno={{paginationData.next}}"
            class="p-2 ml-4 rounded hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </a>
    </nav>

    {{> footer}}

    <script type="module" src="/static/js/script.js"></script>

</body>

</html>