<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Movi-Hub</title>
</head>

<body ondragstart="return false;" ondrop="return false" oncopy="return false" oncut="return false">
    <div class="container">

        {{> navbar}}

        <section class="sorting-style">
            <span id="table-view" class="material-symbols-outlined icon-size">apps</span>
            <span id="list-view" class="material-symbols-outlined icon-size">menu</span>
        </section>

        <section class="card-container">
            <div class="card-box-container">
                {{#each movieData}}
                <div class="card-box">
                    <h1>{{this.yearOfRelease}}</h1>
                    <span id="add"><i class="{{this.bookMarkStatus}} fa-bookmark"></i></span>
                    <img class="card-image" src="{{this.imagePath}}" alt="{{this.title}}{{this.imdbRating}}">
                    <div class="card-main-footer">
                        <div class="card-info">
                            <h3>{{this.title}}</h3>
                        </div>

                        <div class="card-footer">
                            <a href="more-info/{{this._id}}">
                                <button class="button-11 card-footer-button" id="more-info">More Info</button>
                            </a>

                            <a href="/bookmarks/{{this._id}}">
                                <button class="button-11 card-footer-button" id="fav-info">Watch Later</button>
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>

            <div class="list-box-container">
                {{#each movieData}}
                <div class="list-box">
                    <h3>{{this.title}}</h3>
                    <div class="list-card-footer">
                        <a href="more-info/{{this._id}}">
                            <button class="button-11 card-footer-button" id="more-info">More Info</button>
                        </a>

                        <a href="more-info/moreInfo.html">
                            <button class="button-11 card-footer-button" id="fav-info">Watch Later</button>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>


        </section>

    </div>

    <script type="module" src="/static/js/script.js"></script>

</body>

</html>