<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/test.css">

    <title>Movi-Hub</title>
</head>

<body>
    {{> navbar}}

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="relative lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
                <img class="object-cover object-center w-full h-full" src="{{movieResultData.moreInfoTitleImage}}"
                    alt="stats">
                <a class="absolute top-0 left-0" href="/bookmark/{{movieResultData._id}}">
                    <span id="add"><i class="fa-solid fa-bookmark"></i></span>
                </a>
            </div>

            <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pl-10">
                <div class="w-full sm:p-4 px-4 mb-6">
                    <h1 class="title-font font-medium text-xl mb-2 text-gray-900">{{movieResultData.title}}</h1>
                    <div class="leading-relaxed">#action,#drama,#animation</div>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                    <h2 class="title-font font-medium text-3xl text-gray-900">{{movieResultData.imdbRating}}</h2>
                    <p class="leading-relaxed">IMDB</p>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                    <h2 class="title-font font-medium text-3xl text-gray-900">35</h2>
                    <p class="leading-relaxed">Downloads</p>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                    <h2 class="title-font font-medium text-3xl text-gray-900">{{movieResultData.originCountry}}</h2>
                    <p class="leading-relaxed">Country</p>
                </div>
                <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                    <h2 class="title-font font-medium text-xl text-gray-900">{{movieResultData.productionHouse.[0]}}
                    </h2>
                    <p class="leading-relaxed">Production</p>
                </div>
            </div>

        </div>
    </section>

    <div class="bg-white py-2 ">
        <div class="lg:max-w-screen-xl sm:max-w-screen-sm px-8 md:px-8 mx-auto">

            <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">About The Movie</h2>

            <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">{{movieResultData.overview}}</p>

        </div>
    </div>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-16 mx-auto">
            <div class="flex flex-wrap -m-4 justify-center">

                {{#each movieResultData.allImageQualityLink}}
                <div class="p-4 md:w-1/3">
                    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                        <img class="lg:h-60 md:h-44 w-full object-cover object-center" src="{{this}}" alt="blog">
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </section>

    <div class="flex justify-center">
        <a href="#_"
            class="inline-flex items-center justify-center h-12 px-6 m-2 font-medium tracking-wide text-white transition duration-200 bg-gray-900 rounded-lg hover:bg-gray-800 focus:shadow-outline focus:outline-none">
            DownLoad
        </a>
        <a href="#_"
            class="inline-flex items-center justify-center h-12 px-6 m-2 font-medium tracking-wide text-white transition duration-200 bg-gray-900 rounded-lg hover:bg-gray-800 focus:shadow-outline focus:outline-none">
            Watch Online
        </a>


    </div>

    {{> footer}}

    <script type="module" src="/static/js/moreInfo.js"></script>

</body>

</html>